<label>
    <input id="{{ datatable.name }}-column-{{ column.index }}"
           data-search-column-index="{{ column.index }}"
            {% if column.filter.placeholder != null %}
                placeholder="{{ column.filter.placeholder|trans }}"
            {% endif %}
            {% if datatable.state is not null and datatable.state.searchColumns[column.name] is defined %}
                value="{{ datatable.state.searchColumns[column.name].search }}">
            {% else %}
                value=""
            {% endif %}
    >
</label>
